body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--horo-blue);
}

p {
  font-size: 30px;
  font-family: var(--bold);
}

a {
  text-decoration: none;
  color: var(--horo-blue);
  padding: 0.5em 0.5em;
  background-color: var(--cream);
  font-size: 30px;
  font-family: var(--light);
  border-radius: 10px;
}

img {
  width: 300px;
  height: auto;
}
