/*CSS header*/

header {
  font-family: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 13vh;
  min-height: 80px;
  background-color: var(--horo-blue);
}

.burger,
.panier,
.login,
.favoris,
.search {
  font-size: 15px;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
  text-decoration: none;
}

.burger span {
  height: 3px;
  width: 38px;
  background-color: var(--cream);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
}

.log-cart-ctn,
.cat-ctn {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 42%;
  height: 100%;
}

.logo img,
.panier img,
.login img {
  height: 80%;
  width: auto;
}

.favoris img,
.search img {
  width: 40px;
  height: 40px;
}

.search-bar {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 70px;
  background-color: var(--horo-blue);
}

.search-bar input {
  color: var(--horo-blue);
  width: 45%;
  height: 65%;
  border-radius: 10px;
  background-color: var(--cream);
  border: none;
  padding: 0 1em;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .search-bar {
    height: 0;
  }
  .burger {
    display: none;
  }

  .login,
  .search,
  .favoris {
    height: 60px;
    width: 60px;
    display: flex;
  }

  .categories {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .categories a {
    font-family: var(--bold);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .burger-list-ctn {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .login,
  .categories,
  .favoris,
  .search {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-list-ctn {
    visibility: visible;
  }
}

@media screen and (max-width: 700px) {
  .burger-list-ctn {
    font-size: 20px;
  }

  .search-bar {
    height: 70px;
  }

  .search-bar input {
    width: 80%;
  }
}

@media screen and (min-width: 700px) {
  .burger-list-ctn {
    font-size: 27px;
  }

  .search-bar input:focus {
    outline: none;
  }
}

.burger-list-ctn {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  font-family: var(--bold);
  width: 100%;
  height: 0;
  background-color: var(--horo-blue);
}

.burger-list-ctn span {
  margin-left: 2em;
}

.burger-list-ctn a:first-of-type {
  margin-top: 2em;
}

.burger-list-ctn span {
  margin: 1em;
  width: 80%;
  height: 5px;
  background-color: var(--cream);
}

.burger-list-ctn a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7vh;
  text-decoration: none;
  padding-left: 2em;
}
