/*CSS header*/

header {
  font-family: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 13vh;
  min-height: 80px;
  background-color: var(--cream);
}

.burger,
.panier,
.login,
.favoris,
.search {
  font-size: 15px;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.burger span {
  height: 3px;
  width: 38px;
  background-color: var(--horo-blue);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
}

.log-cart-ctn,
.cat-ctn {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 42%;
  height: 100%;
}

.logo img,
.panier img,
.login img {
  height: 80%;
  width: auto;
}

.favoris img,
.search img {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1100px) {
  .burger {
    display: none;
  }

  .login,
  .search,
  .favoris {
    height: 60px;
    width: 60px;
    display: flex;
  }

  .categories {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .categories a {
    font-family: var(--bold);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .burger-list-ctn {
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .login,
  .categories,
  .favoris,
  .search {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-list-ctn {
    visibility: visible;
  }
}

@media screen and (max-width: 700px) {
  .burger-list-ctn {
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  .burger-list-ctn {
    font-size: 27px;
  }
}

.burger-list-ctn {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-family: var(--bold);
  width: 100%;
  height: 0;
  background-color: var(--cream);
}

.burger-list-ctn a,
.burger-list-ctn span {
  text-decoration: none;
  margin-top: 5vh;
  margin-left: 10vw;
}

.burger-list-ctn a p {
  opacity: 0;
}

.burger-list-ctn span {
  width: 80%;
  height: 5px;
  background-color: var(--horo-blue);
}
