* {
  background-color: var(--horo-blue);
}

html{
  overflow-x: hidden;
}

section h1,
section h2 {
  font-family: var(--bold);
  padding: 1em;
}

section p {
  font-family: var(--light);
  padding-left: 2em;
}

section ul {
  font-family: var(--light);
  padding-left: 3em;
}
section {
  padding: 5em;
}
