/*CSS result*/

html {
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .search-bar {
    height: 70px;
  }

  .item-ctn {
    margin-top: 70px;
  }
}

@media screen and (min-width: 700px) {
}

.watch {
  width: 100px;
  height: 150px;
}

.watch img {
  color: black;
  width: 100%;
  height: auto;
}

.search-bar-ctn {
  position: relative;
}

.watch p {
  color: black;
}
