/*CSS global*/

@font-face {
  font-family: "Inter Thin";
  src: url("../font/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}

:root {
  --white: #fcfcfc;
  --cream: #fdf5e6;
  --horo-blue: #1d1c69;
  --light: "Inter Thin";
  --bold: "Inter Bold";
}

* {
  color: var(--cream);
  padding: 0;
  margin: 0;
}

/* #fbf0f2*/

/*cream #fdf5e6*/



