<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../components/head'); %>
    <title>Error <%=status%></title>
</head>
<body>
    <p>Error <%=status%></p>
    <p><%=message%></p>
</body>
</html>
