<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <title>Error <%=status%></title>
    <link rel="stylesheet" href="/public/css/error.css" />
  </head>
  <body>
    <img
      src="/public/img/Horo Haven.png"
      alt="Logo Horo Haven"
    /><br /><br /><br />
    <p>Error <%=status%></p>
    <br />
    <p><%=message%></p>
    <br /><br /><br />
    <a href="/index"> Revenir à l'accueil </a>
  </body>
</html>
