<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/favoris.css" />
    <title>Favoris</title>
  </head>
  <body>
    
  </body>
</html>
