<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../components/head'); %>
    <title>Reset your password</title>
</head>
<body>

    <% if(send) {%>
        <p>Email envoyé</p>
    <%}else if (send === false) {%>
        <p>Erreur avec le mail</p>
    <%}%>
    <form action="/forgotPassword" method="post">
        <input type="email" required name="email" placeholder="Rentrer votre email">
        <button type="submit">Envoyer</button>
    </form>

</body>
</html>
