<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <title>Accueil</title>
  </head>
  <body>
    <%- include('../components/header'); %>
    <%-include('../components/burger-list'); %>
    <% lst.forEach(function (img) { %>
      <img src="<%= img %>" alt="img">
    <%}); %>
  </body>
  <script src="/public/js/script.js"></script>
</html>
