<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/accueil.css" />
    <title>Accueil</title>
  </head>
  <body>
    <%- include('../components/header'); %> <%-
    include('../components/burger-list'); %>

    <div class="vid-ctn">
      <video
        class="video"
        src="/public/video/VIDEO.mp4"
        loop
        muted
        autoplay
        playsinline
      ></video>
      <div class="filtre first">
        <%- include('../components/search-bar'); %>
        <p>HORO HAVEN</p>
        <p>L'essence du luxe.</p>
        <a href="/result">Voir toutes les montres</a>
        <div class="blank"></div>
      </div>
    </div>
    <div class="horlogerie">
      <img src="/public/video/horloger/img_1.jpg" alt="Image Horloger" />
      <div class="filtre second">
        <p>Vente, réparation et expertise de montres de luxe.</p>
      </div>
    </div>
  </body>
  <script src="/public/js/script.js"></script>
</html>
