<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../components/head'); %>
    <title>Reset your password</title>
</head>
<body>
    <form action="/resetPassword/<%=token%>" method="post">
        <input type="password" required name="password" placeholder="Nouveau mot de passe">
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>
