<div class="burger-list-ctn">
  <a href="" class="burger-categories"> <p>Marques</p> </a
  ><a href="" class="burger-categories"> <p>Réductions</p> </a
  ><a href="" class="burger-categories"> <p>Petits budgets</p> </a
  ><a href="" class="burger-categories">
    <p>Notre histoire</p>
  </a>
  <span></span>
  <a href="/login" class="burger-categories">
    <p>Sign up</p>
  </a>
  <a href="/user" class="burger-categories">
    <p>Mes favoris</p>
  </a>
</div>
