<footer>
  <div class="git-ctn">
    <a href="https://github.com/Juliendnte" class="git-link"
      >GitHub Julien Dante</a
    >
    <a href="https://github.com/Epikdimond-N" class="git-link"
      >GitHub Nathanael Pivot</a
    >
    <p class="hono"><br />Mention honorable :</p>
    <a href="https://github.com/KANTIN-FAGN" class="git-link hono"
      >GitHub Kantin Fagniart</a
    >
  </div>
  <img src="/public/img/logo-blanc.png" alt="Logo Horo Haven" />
  <div class="mention-normes">
    <a href="/mentionslegales">Mentions Légales</a>
    <a href="/normes-rgpd">Normes RGPD</a>
  </div>
</footer>
