<header>
  <div class="cat-ctn">
    <div class="burger" id="burger">
      <span id="first-span"></span>
      <span id="second-span"></span>
      <span id="third-span"></span>
    </div>
    <div class="categories">
      <a href="/marque" class="cat-link"> <p>Marques</p> </a
      ><a href="" class="cat-link">
        <p>Réductions</p>
      </a>
      <a href="" class="cat-link">
        <p>Petits budgets</p>
      </a>
      <a href="" class="cat-link">
        <p>Notre histoire</p>
      </a>
    </div>
  </div>
  <a class="logo" href="/index">
    <img src="/public/img/logo-blanc.png" alt="Horo Haven logo" />
  </a>
  <div class="log-cart-ctn">
    <div class="search">
      <img src="/public/img/search-blanc.png" alt="Search logo" />
      <p>Search</p>
    </div>
    <%if (connect !== null) {%>
      <a class="favoris" href="/user">
        <img src="/public/img/fav-blanc.png" alt="Favoris logo" />
        <p>Favoris</p>
      </a>
    <div>
       <a href="/logOut">Deconnexion</a>
    </div>
    <%}else {%>
    <a class="login" href="/login">
      <img src="/public/img/login-blanc.png" alt="Login logo" />
      <p>Login</p>
    </a>
    <%}%>
    <a class="panier" href="/basket">
      <img src="/public/img/cart-blanc.png" alt="Cart logo" />
      <p>Cart</p>
    </a>
  </div>
</header>
