<header>
  <div class="cat-ctn">
    <div class="burger" id="burger">
      <span id="first-span"></span>
      <span id="second-span"></span>
      <span id="third-span"></span>
    </div>
    <div class="categories">
      <a href="" class="cat-link"> <p>Marques</p> </a
      ><a href="" class="cat-link">
        <p>Réductions</p>
      </a>
      <a href="" class="cat-link">
        <p>Petits budgets</p>
      </a>
      <a href="" class="cat-link">
        <p>Notre histoire</p>
      </a>
    </div>
  </div>
  <div class="logo">
    <img src="/public/img/logo.png" alt="Horo Haven logo" />
  </div>
  <div class="log-cart-ctn">
    <div class="login">
      <img src="/public/img/login.png" alt="Login logo" />
      <p>Login</p>
    </div>
    <div class="panier">
      <img src="/public/img/cart.png" alt="Cart logo" />
      <p>Cart</p>
    </div>
  </div>
</header>
